@page "/ClienteForm"


@using Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h3>Agregar Cliente</h3>

<EditForm Model="oCliente">
    <div class="container-fluid">
        <div form-group row mb-1>
            <label class="col-sm-9">Nombre</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="oCliente.NombreCliente"></InputText>
            </div>
        </div>
        <div form-group row mb-1>
            <label class="col-sm-9">Contacto</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="oCliente.Contacto"></InputText>
            </div>
        </div>
        <div form-group row mb-1>
            <label class="col-sm-9">Direccion</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="oCliente.Direccion"></InputText>
            </div>
        </div>
        <div form-group row mb-1>
            <label class="col-sm-9">Email</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="oCliente.Email"></InputText>
            </div>
        </div>
        <div form-group row mb-1>
            <label class="col-sm-9">Telefono</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="oCliente.Telefono"></InputText>
            </div>
        </div>
        <div form-group row mb-1>
            <label class="col-sm-9">Proyecto</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="oCliente.Proyecto"></InputText>
            </div>
        </div>
        <div form-group row mb-1>
            <div class="col-sm-9">
                <button class="btn btn-primary" @onclick="Save">Guarder</button>
            </div>
        </div>
    </div>
</EditForm>


@code {
    Cliente oCliente = new Cliente();
    Respuesta oRespuesta = new Respuesta();
    public string Url = "/api/Cliente";

    private async Task Save()
    {
        var response= await Http.PostAsJsonAsync<Cliente>(Url, oCliente);
        oRespuesta = response.Content.ReadFromJsonAsync<Respuesta>().Result;
        NavigationManager.NavigateTo("/Clientes");
    }
}
